<h3>${finalName}</h3>
<i>${introduction}</i>

#if ($release.getActions().size() == 0)
<br>Нет изменений.
#else
#if ($release.getActions('add').size() !=0)
<br><br><b>Добавлено:</b><br>
#foreach($actionItem in $release.getActions('add'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
<li>
    ${action} #if($!issue != "") <u>Issue</u>: <a href="http://redmine.advantum.ru/issues/${issue}">#$issue</a> #end#if($!dueto != "") /<b>$dueto, спасибо за помощь!</b> #end
</li>

#set($issue="")
#set($dueto="")
#end 
#end

#if ($release.getActions('fix').size() !=0)
<br><br><b>Исправлены ошибки:</b><br>
#foreach($actionItem in $release.getActions('fix'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
<li>
    ${action} #if($!issue != "") <u>Issue</u>: <a href="http://redmine.advantum.ru/issues/${issue}">#$issue</a> #end#if($!dueto != "") /<b>$dueto, спасибо за помощь!</b> #end
</li>

#set($issue="")
#set($dueto="")
#end
#end

#if ($release.getActions('update').size() !=0)
<br><br><b>Изменения:</b><br>
#foreach($actionItem in $release.getActions('update'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
<li>
    ${action} #if($!issue != "") <u>Issue</u>: <a href="http://redmine.advantum.ru/issues/${issue}">#$issue</a> #end#if($!dueto != "") /<b>$dueto, спасибо за помощь!</b> #end
</li>

#set($issue="")
#set($dueto="")
#end
#end

#if ($release.getActions('remove').size() !=0)
<br><br><b>Удалено:</b><br>
#foreach($actionItem in $release.getActions('remove'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
<li>
    ${action} #if($!issue != "") <u>Issue</u>: <a href="http://redmine.advantum.ru/issues/${issue}">#$issue</a> #end#if($!dueto != "") /<b>$dueto, спасибо за помощь!</b> #end
</li>

#set($issue="")
#set($dueto="")
#end
#end
## End of main loop
#end

#if ($urlDownload)

For a manual installation, you can download the ${finalName} here:
${urlDownload}
#end
<br>
<hr>
